urnik.aux
urnik.fdb_latexmk
urnik.fls
urnik.log
urnik.synctex.gz
magic.aux
magic.bbl
magic.bib
magic.fdb_latexmk
magic.fls
magic.log
magic.synctex.gz
magic.toc
1-osnove.aux
1-osnove.fdb_latexmk
1-osnove.fls
1-osnove.log
1-osnove.out
1-osnove.synctex.gz
3-tabele.aux
3-tabele.fdb_latexmk
3-tabele.fls
3-tabele.log
3-tabele.synctex.gz
literatura.bib